* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

.movie-card {
  max-width: 250px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.18);
  transition: all 0.2s ease-in;
}

.movie-card:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.movie-card img {
  width: 100%;
}

/* SVG */

svg#freepik_stories-oops-404-error-with-a-broken-robot:not(.animated)
  .animable {
  opacity: 0;
}
svg#freepik_stories-oops-404-error-with-a-broken-robot.animated
  #freepik--background-complete--inject-14 {
  animation: 1.5s Infinite linear wind;
  animation-delay: 0s;
}
svg#freepik_stories-oops-404-error-with-a-broken-robot.animated
  #freepik--Shadow--inject-14 {
  animation: 1.5s Infinite linear floating;
  animation-delay: 0s;
}
svg#freepik_stories-oops-404-error-with-a-broken-robot.animated
  #freepik--404-error--inject-14 {
  animation: 1.5s Infinite linear shake;
  animation-delay: 0s;
}
svg#freepik_stories-oops-404-error-with-a-broken-robot.animated
  #freepik--Robot--inject-14 {
  animation: 1.5s Infinite linear floating;
  animation-delay: 0s;
}
svg#freepik_stories-oops-404-error-with-a-broken-robot.animated
  #freepik--Gears--inject-14 {
  animation: 1.5s Infinite linear heartbeat;
  animation-delay: 0s;
}
svg#freepik_stories-oops-404-error-with-a-broken-robot.animated
  #freepik--speech-bubble--inject-14 {
  animation: 1.5s Infinite linear floating;
  animation-delay: 0s;
}
@keyframes wind {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(-1deg);
  }
}
@keyframes floating {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
