* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

.movie-card {
  width: 250px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.18);
  transition: all 0.2s ease-in;
}

.movie-card:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.movie-card img {
  width: 100%;
}

ul.movie-list-items {
  display: flex;
  overflow-x: auto;
}

ul.movie-list-items li {
  width: 300px;
}

ul.movie-list-items li:not(:first-child) {
  margin-left: 1rem;
}
