@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

div#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

.movie-card {
  width: 200px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.18);
  transition: all 0.2s ease-in;
}

.movie-card:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.movie-card img {
  width: 100%;
  min-height: 300px;
}

.movie-card .text {
  height: 60px;
}

ul.movie-list-items {
  display: flex;
  overflow-x: auto;
}

ul.movie-list-items li:not(:first-child) {
  margin-left: 1rem;
}

.debug {
  border: 1px solid red;
}

.logo {
  margin: 0;
}

.search-form .input-grop {
  position: relative;
}

.search-form .search-icon-wrapper {
  position: absolute;
  right: 0;
}

footer {
  margin-top: auto;
}

@media screen and (max-width: 769px) {
  section.movie-detail .detail-card {
    bottom: 0 !important;
  }

  section.movie-detail .hero {
    margin-bottom: 100px !important;
  }

  section.movie-detail .text {
    width: 100% !important;
  }
}
